<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.apache.ibatis" level="info" />

  <logger name="javax.activation" level="info" />

  <logger name="org.springframework" level="info" />

  <logger name="org.camunda" level="info" />

  <logger name="org.camunda.bpm.engine.test" level="info" />


  <logger name="org.camunda.bpm.engine.impl.persistence.entity" level="info" />
  <logger name="org.camunda.bpm.engine.history" level="info" />

  <logger name="org.camunda.bpm.engine.bpmn.parser" level="info" />
  <logger name="org.camunda.bpm.engine.bpmn.behavior" level="info" />

  <logger name="org.camunda.bpm.engine.cmmn.transformer" level="info" />
  <logger name="org.camunda.bpm.engine.cmmn.behavior" level="info" />
  <logger name="org.camunda.bpm.engine.cmmn.operation" level="info" />

  <logger name="org.camunda.bpm.engine.cmd" level="info" />
  <logger name="org.camunda.bpm.engine.persistence" level="info" />
  <logger name="org.camunda.bpm.engine.tx" level="info" />
  <logger name="org.camunda.bpm.engine.cfg" level="info" />
  <logger name="org.camunda.bpm.engine.jobexecutor" level="info" />
  <logger name="org.camunda.bpm.engine.context" level="info" />
  <logger name="org.camunda.bpm.engine.core" level="info" />
  <logger name="org.camunda.bpm.engine.pvm" level="info" />

  <logger name="org.camunda.bpm.engine.metrics" level="info" />
  <logger name="org.camunda.bpm.engine.util" level="info" />

  <logger name="org.camunda.bpm.application" level="info" />
  <logger name="org.camunda.bpm.container" level="info" />



  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
